<!-- <h1><%= @drug["denomination"] %></h1> -->
<div class="title">
  <%= @drug["denomination"] %>
</div>


<ul class="list-group">
  <li class="list-group-item"><%= @drug["denomination"] %></li>
  <li class="list-group-item"><%= @drug["formePharmaceutique"] %></li>
  <li class="list-group-item"><%= @drug["indicationsTherapeutiques"].html_safe %></li>
</ul>
<div class="row">
  <h2> Reviews </h2>
  <ul class="list-group">
    <% @reviews.each do |review| %>

      <li class="list-group-item">
        Efficacité <%= review.efficacy %> | sécurité <%= review.security %> | Details <%= review.description %>
      </li>
    <% end %>
  </ul>
</div>


<%= link_to "Donner mon avis sur ce médicament", review_new_path %>
