<% content_for :meta_title, "#{@drug["denomination"].split(' ').first(2).join(' ')} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @drug["denomination"] %>

<div class="container">
  <!-- <h1><%= @drug["denomination"] %></h1> -->
  <div class="row drugheader">
    <div class="col-12 col-sm-8 offset-sm-2">
      <div class="title">
        <h1><%= @drug["denomination"] %></h1>
      </div>
      <div class="avis">
        <p><%= link_to "Donner mon avis sur ce médicament", review_new_path, class: "btn btn-outline-info" %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-8">
      <%= render 'shared/card_info' %>
      <%= render 'shared/card_infoglobales' %>

      <% @reviews.each do |review| %>
        <%= render 'shared/card_review', review: review %>
      <% end %>
    </div>
    <div class="col-12 col-sm-4">
      <%= render 'shared/card_avis' %>
    </div>
  </div>
</div>
