<!-- <h1><%= @drug["denomination"] %></h1> -->
<div class="title">
  <%= @drug["denomination"] %>
</div>


<ul class="list-group">
  <li class="list-group-item"><%= @drug["denomination"] %></li>
  <li class="list-group-item"><%= @drug["formePharmaceutique"] %></li>
  <li class="list-group-item"><%= @drug["indicationsTherapeutiques"].html_safe %></li>
</ul>
<div class="row">
  <% @reviews.each do |review| %>
  <ul class="list-group">
    <li class="list-group-item"><%= review.efficacy %></li>
    <li class="list-group-item"><%= review.security %></li>
    <li class="list-group-item"><%= review.description %></li>
  </ul>
  <% end %>
</div>


<%= link_to "Donner mon avis sur ce médicament", review_new_path %>