<div class="message">

  <div class="message-name delivrance">
    <h3>Délivrance</h3>
    <% if @drug["conditionsPrescriptionDelivrance"].empty? %>
      <p class="pasordo"><%= "Sans ordonnance" %></p>
    <% else %>
      <p class="ordo"><%= "Sous ordonnance"%></p>
    <% end %>
  </div>
  <div class="message-name">
    <h3>Forme pharmaceutique</h3>
    <p><%= @drug["formePharmaceutique"]  %></p>
  </div>
  <div class="message-name">
    <h3>Médecine</h3>
    <p><%= @drug["homeopathie"] == false ? "Allopathie" : @drug["homeopathie"] %></p>
  </div>
  <% if @drug["infosGenerique"].present? %>
  <div class="message-name">
    <h3>Prix</h3>
    <p class="price"><%=@drug["infosGenerique"]["autresMedicamentsGroupe"].first["prix"].last %>€</p>
  </div>
  <% end %>
  <div class="message-name">
    <h3>Ajouter en favoris</h3>
    <p>
    <% if @codes_cis.include? @drug["codeCIS"] %>
      <%= link_to '<i class="fa fa-heart" style="color: #D3473C"></i>'.html_safe,
      "/drugs/#{@drug["codeCIS"]}/favorites/" %>
    <% else %>
      <%= link_to '<i class="fa fa-heart"></i>'.html_safe,
      "/drugs/#{@drug["codeCIS"]}/favorites/" %>
    <% end %>
  </p>
  </div>
</div>
