
<div class="navbar-wagon fixed-top">
  <!-- Logo -->
  <div class="navbar-left">
    <%= link_to "VidalMedicament", root_path, class: "home-btn" %>
    <!-- Right Navigation -->
    <%= render 'shared/search_input' %>
  </div>
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <div>
        <% avatar_url = current_user.facebook_picture_url || "logo.png" %>
        <%= link_to image_tag(avatar_url, size:5*5), profile_path, class: "avatar", id: "navbar-wagon-menu" %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link") %>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "sign up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>


